<main>
  <section class="form-section">
    <img src="/assets/logo.svg" alt="Logo MoveIt">
    <h2>{{ title }}</h2>
    <ng-content #form></ng-content>
    
    <div class="btn-wrapper">
      <button class="btn-primary">{{ primaryBtnText }}</button>
    <div class="divider">
      <div></div>
      <span>or</span>
      <div></div>
    </div>
    <button class="btn-secondary">{{ secondaryBtnText }}</button>
    </div>
  </section>
  <section class="main-section">
    <h2>Your Should, MoveIt!</h2>
    <img src="/assets/Delivery.svg" alt="Ilustração">
  </section>
</main>